<style>
/* 선택자{ css 속성 }*/
body{
  /*폰트 글꼴 변경*/
  font-family: cursive;
}
.male{
  color:blueviolet;
}
.female{
  color:aquamarine;
}
ul{
  /* 앞의 동그라미 제거 */
  list-style: none;
}
#ceo{
  background-color: coral;
}
</style>