/* 초기화 */

*{
    margin: 0;
    padding: 0;
    /* 가로 세로 길이 기준을 보더 박스 기준으로 */
    box-sizing: border-box;
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#main-page {
background: url(img/main.jpg) center center no-repeat;
background-size: cover;
height: 80vh;
}

.main-navi {
    /* sticky 포지션 = 화면 상단에 붙어 있는 포지션 */
    position: fixed;
    width: 1600px;
    background-color: wheat;
    height: 80px;
    padding: 0 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-navi .logo i {
    font-size: 40px;
    position: relative;
    top: 7px;
}
.main-navi .logo a {
    text-decoration: none;
    color: #222;
    font-size: 1.5rem;
    font-weight: 900;
    padding-bottom: 7px;
}
.main-navi .search .btn{
    height: 48px;
    width: 300px;
    font-weight: bold;
    font-size: 15px;
    border-radius: 30px;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    border: 1px solid #ddd;
    background-color: white;
    outline: none;
    
}
.main-navi .search .btn :hover{
    /* rgba 에서 a는 투명도 */
    box-shadow: 0px 2px 8px rgba(0,0,0,0.15); 

}

.main-navi .search .bicon{
    background-color: rgba(255,56,92);
    color: white;
    border-radius: 50%;
    padding: 7px 9px;
}
.menu{
    display: flex;
    justify-content: space-around;
    width: 200px;
    cursor: pointer;

}

.box{

    width: 1600px;
    height: 364px;
    padding: 5% 70px;

    
}
.box h1 {
    font-size: 60px;
    margin-top: 100px;
    
}
.box p {
    font-size: 20px;
    padding: 10px;
    padding-bottom: 20px;
}
.box button{
    width: auto;
    height: auto;
    background-color: black;
    font-size: 20px;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    
}
/* 첫페이지 끝 */
/* 둘러보기 섹션 */
#around .grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    
    
}
#around .item{
   
    padding: 5px;
    display: flex;
    gap: 10px;
    cursor: pointer;
}
#around img{
    width: 20%;
    border-radius: 10px;
    justify-items: left;
     
    

}
#around h1{
    font-size: 2rem;
   
    margin-bottom: 30px;
}
#around div {
    font-size: 15px;
    
}
#around div .bold{
    margin-top: 10px;
    font-size: 16px;
    font-weight: 900;
}


/* 살아보기 섹션 */

section {
    padding: 0 80px;
    margin-top: 50px;
    
}
#live .grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    cursor: pointer;
}
#live img{
    width: 100%;
    border-radius: 10px;
}
#live h1{
    font-size: 2rem;
   
    margin-bottom: 30px;
}
#live div{
    font-size: 18px;
    font-weight: 900;
    padding: 10px 0;
}
/* 살아보기 섹션 끝 */
/* 사람 섹션 시작 */
#behost {
    display: flex;
    background-image: url(/img/person.jpg);
    background-size: cover;
    height: 80vh;
    width: 90%;
    margin: 80px;
    border-radius: 15px;
    
}
#behost h1{
    font-size: 3rem;
}
#behost p{
    font-size: 1rem;
    font-weight: 700;
}
#behost .box{
    padding: 0;
    margin-top: 120px;
    text-align: left;
    color: white;
    cursor: pointer;
}
#button1{
    width: auto;
    height: auto;
    background-color: white;
    font-size: 16px;
    color: black;
    font-weight: bold;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    
}
/* 체험 둘러보기 섹션 */
#experi .grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    cursor: pointer;
}
#experi img{
  
    width: 100%;
    border-radius: 10px;
    margin-top: 20px;
}
#experi h1{
    font-size: 2rem;
}
#experi p{
    font-size: 1.5rem;
}
#experi .item div{
    font-size: 1.1rem;
    font-weight: 600;

}
#experi .item div p{
    font-size: 0.9rem;
    font-weight: 300;
}

/* footer */
.footer {
    
    background-color: #f1f1f1;
    margin-top: 60px;
    text-align:center;
    height: 88vh;
    border: 1px solid rgb(218, 211, 211);  
    
  }
  .footer .box{    
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr;    
    width: 100%;
    text-align: center;
    margin: 10px;
  }       
  .footer p {
    cursor: pointer;
      font-size: 1rem;
      text-align: left;
      line-height: 2.5;
      font-size: 14px;
  }

  .footer .h{
      font-weight: 700;
      font-size: 13px;
      
  }

  .btm img{
    cursor: pointer;
      width: 16px;
  }
      
 .btm p{
     
     font-weight: 200;
     
 }
.btm u{
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
}
 #a{
     
     margin-left: 50px;
     display: grid;
     grid-template-columns: 2fr 0.5fr 0.5fr;
 }
 